{% extends 'main_non.html' %}
{% load static %} 
{% block content %}


<div class="container" style="margin-top: 20px">
    <div class="row">
        {% for p in Book %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                {% if p.image %}
                <img src="{{ p.image.url }}" class="card-img-top" style="height: 200px; object-fit: cover;" alt="...">
                {% endif %}
                <div class="card-body">
                    <h6 class="card-title">{{ p.title }}</h6>
                    <p class="card-text" style="overflow: hidden;"></p>
                    <p class="card-text" style="overflow: hidden;">Author: {{ p.author }}</p>
                    <p class="card-text" style="overflow: hidden;">Price: {{ p.price }}</p>

                </div>
                <div class="card-footer">
                    <div class="btn-group" aria-label="Book Actions">
                        <a href="{% url 'book_details_non' p.id %}" class="btn btn-outline-info btn-sm">Details</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
